/duda/nbproject/private/
/exer02.php/nbproject/private/
/lista2/nbproject/private/
/lista2-ex5/nbproject/private/
/exer01.PHP/nbproject/private/
/exer002.PHP/nbproject/private/
/Lista3/nbproject/private/
/pratica/nbproject/private/